/* WinKexec: kexec for Windows
 * Copyright (C) 2008-2009 John Stumpo
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include <winuser.h>
#include <winver.h>

#include "resource.h"

#include "../revtag/revtag.h"

LANGUAGE 9, 1

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1, 0, 0, SVN_REVISION
 PRODUCTVERSION 1, 0, 0, SVN_REVISION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "John Stumpo"
      VALUE "FileDescription", "Kexec for Windows common functions"
      VALUE "FileVersion", "1.0 (r" SVN_REVISION_STR ")"
      VALUE "InternalName", "KexecCommon.dll"
      VALUE "LegalCopyright", "\251 2008-2009 John Stumpo.  GNU GPL v3 or later."
      VALUE "OriginalFilename", "KexecCommon.dll"
      VALUE "ProductName", "WinKexec"
      VALUE "ProductVersion", "1.0 (r" SVN_REVISION_STR ")"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END

KXC_ABOUT_DLG DIALOGEX 0, 0, 260, 135
 STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
 CAPTION "About WinKexec"
 FONT 8, "MS Shell Dlg", 0, 0, 1
BEGIN
  DEFPUSHBUTTON "OK", IDCANCEL, 203, 114, 50, 14

  GROUPBOX "About WinKexec", 50, 7, 7, 246, 103

  LTEXT "WinKexec version 1.0, svn revision " SVN_REVISION_STR "\r\n"
        "Copyright \251 2008-2009 John Stumpo\r\n"
        "\r\n"
        "WinKexec is free software under the GNU General Public License version "
        "3 or later; you are free to modify and redistribute it under certain "
        "conditions. There is ABSOLUTELY NO WARRANTY, to the extent allowable "
        "by applicable law.", 2000, 13, 18, 234, 72

  PUSHBUTTON "Home page: http://www.jstump.com/", KXC_ID_HOMEPAGE, 13, 93, 234, 10, BS_OWNERDRAW
END
